#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 7vw;
  font-family: "Courier New", Courier, monospace;
}

code {
  font-size: 5vw;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.5;
}
